.navbar{
	
	border: 0.5px #8a8b8c !important;

}

.body{
	color: background-color: #425798 !important;;
}

/* .sidebar{
	height: 250px !important;
}  */


h1{
	color: #35c535;
}

h2{
	color: #35c535;
	
}

h3{
	color: #35c535;
	font-size: 40px;
	/* text-shadow: 0px 0px 3px #888888; */
}





.brand-logo {
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.social-logo{
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.social-logo:hover{
	opacity: 0.5;

}

.brand-text {
	color: white;
	height: 900px;
	font-size: 500%;
	font-family: sans-serif;
	text-shadow: 0px 0px 8px #888888;
}

.about-text{
	font-size: 22px;
	color: #35c535;
	font-family: sans-serif;
}

/*.social-media a:hover {
	opacity: 1;
}*/


.check-words{
	font-size: 30px; 
}

/* .sidenav{
	height: -200px;
} */

.info-logo {
	width: 140px;
	height: 135px;
}
.skills-logo {
	width: 100px;
	height: 95px;
}

.skills-logo:hover {
    /* position:relative; */
    /* top:-5px;
    left:-5px; */
	transform: scale(1.5);
	transition: all 0.3s ease-in-out;
}

/* .skills-logo:hover {
	height: 125px;
	width: 100px;
  	margin: 3% 1.5%;
  	transition: all 0.3s ease-in-out;
} */

.client-logo {
	width: 20% !important;
	height: 80px !important;
}



.partner-logo {
	width: 70px;
	height: 20px;
}


.payment-text{
	color: #425798;
}

.organs{
	width: 50%;
	box-shadow: 0px 0px 8px #888888;
}

.navbar-brand{

	text-transform: uppercase;
	color: #35c535 !important;
}

.nav-link{
	color: #35c535 !important;
	font-size: 20px;
}

.nav-link:hover{
	opacity: 0.8;
}

.brand-word{
	position: absolute;
}


.card{
	box-shadow: 0px 0px 8px #888888;
}

.card-body{
	background-color: #35c535 !important;
	opacity: 1.8 !important;
	

}

.card-img{
	height: 78%;
}

.card-img:hover{
	opacity: 0.8;
}

.card-title{
	color: #e5e5e3 !important;
}

.card-text{
	color: white !important;
}

.btn{
	border: 0.5px !important;
	color:  white !important;
	border: 0.3px solid #425798 !important;
	width: 45%;
	box-shadow: 0px 0px 8px #888888;
	background-color: #425798;

}

.py-5{
	background-color: #147314 !important;
	height: 150px;

}


.footer-text{
	color: #e5e5e3;
}


.social-media a {
	color: #efefef !important;
	margin: 0 .5rem !important; 
	font-size: 1.5rem !important;
	opacity: .75 !important;
}

#partner-text{
	color: #425798 !important;
}



@media only screen and (min-width: 361px) and (max-width: 960px){



.indie-text{
	width: 90% !important;
	

}


.form-message{
	width: 90px !important;
	background-color: red;
	

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (max-width: 400px) 
{

.brand-text{
	height: 100px !important;
}

.form-message{
	width: 100% !important;
	background-color: red;

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (min-width: 401px) and (max-width: 960px){



    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        font-size: 30px;
    }

    .landing-content h3 {
        font-size: 20px;
    }

    span {
        font-size: 30px;
    }

    .form-message{
    	width: 90%;
    }

    .container{

		height: 100px;
	}

	.brand-text{
	height: 70% !important;
}


}

/*responsive - mobile*/
@media only screen and (max-width: 400px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        margin-top: 30px;
        font-size: 35px;
    }

    .landing-content h3 {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

     .form-message{
    	width: 90%;
    }

}




/*@media only screen and (max-width: 360px){*/

	/*navbar*/
/*	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}
*/


	/*.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*contact*/
/*	.contact-page {
		height: 220vh;
	}

	.container-centered{
		flex-direction: column;
	}

	.contact-page h1{
		margin-top: 0px;
	}

	#contact-text-area {
		width: 340px;
	}

	#google-map {
		margin-top: 10px;
	}

	.contact-details {
		height: auto;
	}*/

	/*footer*/
/*	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}*/

nav {
	float: left;
	  position: relative;
	  top: 0;
	left: 0;
	  background: transparent;
  }
  
  nav ul {
	  text-align: center;
  }
  
  nav ul li {
	  position: relative;
	width: 70px;
	cursor: pointer;
	  background: #35c535;
	  text-transform: uppercase;
	  transition:all .4s ease-out;
  }
  
  nav ul li:after {
	  position: absolute;
	  background: white;
	  color: #35c535;
	  top:0;
	  left: 70px;
	  width: 70px; height: 100%;
	opacity:.5;
	transform: perspective(400px) rotateY(90deg);
	  transform-origin: 0 100%;
	  transition:all .4s ease-out;
  }
  
  nav ul li:nth-child(1):after { 
	  content: "Home";
	  line-height: 88px;
  }
  nav ul li:nth-child(2):after { 
	  content: "About";
	  line-height: 88px;
  }
  nav ul li:nth-child(3):after { 
	  content: "Info";
	  line-height: 85px;
  }
  nav ul li:nth-child(4):after { 
	  content: "Say hi";
	  line-height: 70px;
  }
  
  nav ul li:hover {
	  transform: translateX(-70px);
  }
  
  nav ul li:hover:after {
	opacity: 1;
	  transform: perspective(400px) rotateY(0deg) scale(1) ;
  }
  
  
  nav ul li > div {
	  display: inline-block;
	  padding: 25px 0;
	  background: transparent;
  }
  
  nav ul li div { position: relative; }
  
  .roof {
	  width: 0;
	  height: 0;
	  top:2px;
	  border-style: solid;
	  border-width: 0 21px 15px 21px;
	  border-color: transparent transparent #ffffff transparent;
  }
  
  .roof-edge {
	  position: absolute;
	  z-index: 20;
	  left: -17px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 17px 12px 17px;
	  border-color: transparent transparent #35c535 transparent;
  }
  /*white triangle over red triangle*/
  .roof-edge:after {
	  position: absolute;
	  left: -14.5px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 14.5px 10px 14.5px;
	  border-color: transparent transparent white transparent;
  }
  
  .front {
	  position: relative;
	  top: 3px;
	  width: 28.5px;
	  height: 20px;
	  margin: 0 auto;
	  background: white;
  }
  /*door*/
  .front:after {
	  position: absolute;
	  background: #35c535;
	  width: 11px;
	  height: 13px;
	  bottom: 0;
	  left:9px;
  }
  
  /*/// About me ////*/
  
  .head {
	  width: 32px;
	  height: 35px;
	  background: white;
	  border-radius:8px;
  }
  /*mouth*/
  .head:after {
	  width: 4px;
	  height: 10px;
	  background: white;
	  position: absolute;
	  border-radius:4px 0 0 4px;
	  top:21px;
	  left: 14px;
	  transform:rotate(270deg);
  }
  
  .eyes {
	  width: 8px;
	  height: 5px;
	  border-radius: 50%;
	  position: absolute;
	  top: 10px;
	  left: 5px;
	  background: #35c535;
  }
  /*right eye*/
  .eyes:after {
	  width: 8px;
	  height: 5px;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 14px;
	  background: #35c535;
  }
  
  .beard {
	  width: 32px;
	  height: 17px;
	  background: #35c535;
	  border:2px solid white;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  border-radius:0 0 8px 8px;
  }
  /*nose*/
  .beard:after {
	  position: absolute;
	  top:-2px;
	  left: 11px;
	  background: white;
	  width:6px;
	  height: 4px;
	  border-left:1px solid #35c535;
	  border-right:1px solid #35c535;
  }
  
  /*//work//*/
  
  .paper {
	  position: relative;
	  height:32px;
	  width: 29px;
	  background: white;
	  border:2px solid white;
  }
  
  /*window*/
  .paper:after {
	  position: absolute;
	  top:1px;
	  left: 0;
	  width: 25px;
	  height: 29px;
	  background: white;
	  border-top:4px solid #35c535;
  }
  
  .lines {
	  position: absolute;
	  top: 36px;
	  left: 5px;
	  width: 11px;
	  box-shadow: 0 0 0 1px #35c535;
  }
  
  .lines:after {
	  position: absolute;
	  top: 4px;
	  left: 3px;
	  width: 14px;
	  box-shadow: 0 0 0 1px #35c535;
  }
  
  .lines:nth-child(2) {
	  position: absolute;
	  top: 44px;
	  left: 8px;
	  width: 11px;
  }
  
  .lines:nth-child(2):after {
	  position: absolute;
	  top: 4px;
	  left: -3px;
	  width: 11px;
  }
  
  .lines:nth-child(3) {
	  position: absolute;
	  top: 52px;
	  left: 8px;
	  width: 14px;
  }
  
  .lines:nth-child(3):after {
	  display: none;
  }
  
  /*//mail //*/
  
  .mail-base {
	  position: relative;
	  width: 32px;
	  height: 18px;
	  background: white;
  }
  
  .mail-top {
	  position: absolute;
	  z-index: 20;
	  left: 0;
	  top: 0;
	  width: 0;
	  height: 0;
	  transform: rotate(180deg);
	  border-style: solid;
	  border-width: 0 16px 11px 16px;
	  border-color: transparent transparent #35c535 transparent;
  }
  
  .mail-top:after {
	  position: absolute;
	  z-index: 20;
	  left: -16px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 16px 9px 16px;
	  border-color: transparent transparent white transparent;
  }